<footer class="bg-neutral-900 border-t border-neutral-700/50" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 overflow-hidden">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="#home" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">Domů</a>
            </div>
            <div class="px-5 py-2">
                <a href="#about" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">O nás</a>
            </div>
            <div class="px-5 py-2">
                <a href="#services" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">Služby</a>
            </div>
            <div class="px-5 py-2">
                <a href="#gallery" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">Galerie</a>
            </div>
            <div class="px-5 py-2">
                <a href="#testimonials" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">Reference</a>
            </div>
            <div class="px-5 py-2">
                <a href="#contact" class="text-base text-neutral-400 hover:text-neutral-100 transition duration-300">Kontakt</a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-neutral-500">
            &copy; 2025 DYKON-kovo, s.r.o. Všechna práva vyhrazena.
        </p>
    </div>
</footer>